# Default values for gpu-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

nfd:
  enabled: true

platform:
  openshift: false

nvidia:
  operator:
    repository: registry.gitlab.com/nvidia/kubernetes
    image: gpu-operator
    tag: @OPERATOR_VERSION@
  driver:
    repository: nvcr.io/nvidia
    image: driver
    version: "418.87.01"
  toolkit:
    repository: nvidia
    image: container-toolkit
    version: 1.0.0-alpha2
  devicePlugin:
    repository: nvcr.io/nvidia
    image: k8s-device-plugin
    version: 1.0.0-beta4


imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
