# Default values for gpu-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

platform:
  openshift: false

nfd:
  enabled: true

operator:
  repository: nvcr.io/nvidia
  image: gpu-operator
  # If version is not specified, then default is to use chart.AppVersion
  #version: 1.5.2
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  defaultRuntime: docker
  validator:
    image: cuda-sample
    repository: nvcr.io/nvidia/k8s
    version: vectoradd-cuda10.2
    imagePullPolicy: IfNotPresent
  tolerations:
  - key: "node-role.kubernetes.io/master"
    operator: "Equal"
    value: ""
    effect: "NoSchedule"
  annotations:
    openshift.io/scc: restricted-readonly
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: "node-role.kubernetes.io/master"
                operator: In
                values: [""]
  logging:
    timeEncoding: epoch

driver:
  repository: nvcr.io/nvidia
  image: driver
  version: "450.80.02"
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  env: []
  tolerations:
  - key: nvidia.com/gpu
    operator: Exists
    effect: NoSchedule
  nodeSelector:
    nvidia.com/gpu.present: "true"
  affinity: {}
  podSecurityContext: {}
  securityContext:
    privileged: true
    seLinuxOptions:
      level: "s0"
  resources: {}
  # private mirror repository configuration
  repoConfig:
    configMapName: ""
    destinationDir: ""
  # vGPU licensing configuration
  licensingConfig:
    configMapName: ""

toolkit:
  repository: nvcr.io/nvidia/k8s
  image: container-toolkit
  version: 1.4.4-ubuntu18.04
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  env: []
  tolerations:
  # Allow this pod to be rescheduled while the node is in "critical add-ons only" mode.
  # This, along with the annotation above marks this pod as a critical add-on.
  - key: CriticalAddonsOnly
    operator: Exists
  - key: nvidia.com/gpu
    operator: Exists
    effect: NoSchedule
  nodeSelector:
    nvidia.com/gpu.present: "true"
  affinity: {}
  podSecurityContext: {}
  securityContext:
    privileged: true
    seLinuxOptions:
      level: "s0"
  resources: {}

devicePlugin:
  repository: nvcr.io/nvidia
  image: k8s-device-plugin
  version: v0.8.1
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  args:
    - "--mig-strategy=single"
    - "--pass-device-specs=true"
    - "--fail-on-init-error=true"
    - "--device-list-strategy=envvar"
    - "--nvidia-driver-root=/run/nvidia/driver"
  env: []
  tolerations: []
  nodeSelector:
    nvidia.com/gpu.present: "true"
  affinity: {}
  podSecurityContext: {}
  securityContext:
    privileged: true
  resources: {}

dcgmExporter:
  repository: nvcr.io/nvidia/k8s
  image: dcgm-exporter
  version: 2.0.13-2.1.2-ubuntu20.04
  imagePullPolicy: IfNotPresent
  args:
    - "-f"
    - "/etc/dcgm-exporter/dcp-metrics-included.csv"
  env: []
  tolerations: []
  nodeSelector: {}
  affinity: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}

gfd:
  repository: nvcr.io/nvidia
  image: gpu-feature-discovery
  version: v0.4.0
  imagePullPolicy: IfNotPresent
  imagePullSecrets: []
  tolerations: []
  env: []
  nodeSelector:
    nvidia.com/gpu.present: "true"
  affinity: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  migStrategy: single
  discoveryIntervalSeconds: 60

node-feature-discovery:
  worker:
    tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Equal"
      value: ""
      effect: "NoSchedule"
    - key: "nvidia.com/gpu"
      operator: "Equal"
      value: "present"
      effect: "NoSchedule"

  config: |
    sources:
      pci:
        deviceLabelFields:
        - vendor

  master:
    extraLabelNs:
      - nvidia.com
