# Default values for gpu-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: nvidia/gpu-operator
  tag: latest
  pullPolicy: IfNotPresent

platform:
  openshift: false

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
