# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    target-branch: main
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    labels:
      - dependencies
    groups:
      k8sio:
        patterns:
          - k8s.io/*
        exclude-patterns:
          - k8s.io/klog/*

  - package-ecosystem: "gomod"
    target-branch: main
    directory: "/tools"
    schedule:
      interval: "daily"
    labels:
      - dependencies

  # Update GPU Operator base images.
  - package-ecosystem: "docker"
    directories:
    - "/docker"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
