apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
    app: nvidia-driver-daemonset-{{ .Openshift.RHCOSVersion }}
    {{- else }}
    app: nvidia-driver-daemonset
    {{- end }}
    nvidia.com/precompiled: {{ toString (deref .Driver.Spec.UsePrecompiled) | quote }}
    {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
    openshift.driver-toolkit.rhcos: {{ .Openshift.RHCOSVersion | quote }}
    openshift.driver-toolkit: "true"
    {{- if and (.Openshift) (not .Openshift.ToolkitImage) }}
    openshift.driver-toolkit.rhcos-image-missing: "true"
    {{- end }}
    {{- end }}
  {{- if .Precompiled }}
  name: {{ .Driver.Name }}-{{ .Precompiled.SanitizedKernelVersion }}
  {{- else if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
  name: {{ .Driver.Name }}-{{ .Openshift.RHCOSVersion }}
  {{- else }}
  name: {{ .Driver.Name }}
  {{- end }}
  namespace: {{ .Runtime.Namespace }}
  annotations:
    openshift.io/scc: {{ .Driver.Name }}
spec:
  selector:
    matchLabels:
      {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
      app: nvidia-driver-daemonset-{{ .Openshift.RHCOSVersion }}
      {{- else }}
      app: nvidia-driver-daemonset
      {{- end }}
  updateStrategy:
    type: OnDelete
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: nvidia-driver-ctr
      labels:
        {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
        app: nvidia-driver-daemonset-{{ .Openshift.RHCOSVersion }}
        openshift.driver-toolkit: "true"
        {{- if not .Openshift.ToolkitImage }}
        openshift.driver-toolkit.rhcos-image-missing: "true"
        {{- end }}
        {{- else }}
        app: nvidia-driver-daemonset
        {{- end }}
        nvidia.com/precompiled: {{ toString (deref .Driver.Spec.UsePrecompiled) | quote }}
    spec:
      nodeSelector:
        nvidia.com/gpu.deploy.driver: "true"
        {{- if .Driver.Spec.NodeSelector }}
        {{- .Driver.Spec.NodeSelector | yaml | nindent 8 }}
        {{- end }}
        {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
        feature.node.kubernetes.io/system-os_release.OSTREE_VERSION: {{ .Openshift.RHCOSVersion | quote }}
        {{- end }}
        {{- if .Precompiled }}
        feature.node.kubernetes.io/kernel-version.full: {{ .Precompiled.KernelVersion | quote }}
        {{- end }}
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
      priorityClassName: system-node-critical
      serviceAccountName: {{ .Driver.Name }}
      hostPID: true
      # Add any configured pull secrets
      {{- if any .Driver.Spec.ImagePullSecrets .Driver.Spec.Manager.ImagePullSecrets .Validator.Spec.ImagePullSecrets (and .GDS .GDS.Spec.ImagePullSecrets) }}
      imagePullSecrets:
      {{- range .Driver.Spec.ImagePullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- range .Driver.Spec.Manager.ImagePullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- range .Validator.Spec.ImagePullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- if .GDS }}
      {{- range .GDS.Spec.ImagePullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      {{- end }}
      initContainers:
        {{- if and (.GPUDirectRDMA) (deref .GPUDirectRDMA.Enabled) }}
        - name: mofed-validation
          image: {{ .Validator.ImagePath }}
          imagePullPolicy: {{ default "IfNotPresent" .Validator.Spec.ImagePullPolicy }}
          command: ['sh', '-c']
          args: ["nvidia-validator"]
          env:
            - name: WITH_WAIT
              value: "true"
            - name: COMPONENT
              value: mofed
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            # always use runc for driver containers
            - name: NVIDIA_VISIBLE_DEVICES
              value: void
            - name: GPU_DIRECT_RDMA_ENABLED
              value: "true"
            {{- if (deref .GPUDirectRDMA.UseHostMOFED) }}
            - name: USE_HOST_MOFED
              value: "true"
            {{- end }}
          securityContext:
            privileged: true
            seLinuxOptions:
              level: "s0"
          volumeMounts:
            - name: run-nvidia-validations
              mountPath: /run/nvidia/validations
              mountPropagation: Bidirectional
            - name: run-mellanox-drivers
              mountPath: /run/mellanox/drivers
              mountPropagation: HostToContainer
        {{- end }}
        - name: k8s-driver-manager
          # TODO: implement a filepath.Join method during template rendering
          image: {{ .Driver.ManagerImagePath }}
          imagePullPolicy: {{ default "IfNotPresent" .Driver.Spec.Manager.ImagePullPolicy }}
          command: ["driver-manager"]
          args: ["uninstall_driver"]
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          # always use runc for driver containers
          - name: NVIDIA_VISIBLE_DEVICES
            value: void
          - name: ENABLE_GPU_POD_EVICTION
            value: "true"
          - name: ENABLE_AUTO_DRAIN
            value: "true"
          - name: DRAIN_USE_FORCE
            value: "false"
          - name: DRAIN_POD_SELECTOR_LABEL
            value: ""
          - name: DRAIN_TIMEOUT_SECONDS
            value: "0s"
          - name: DRAIN_DELETE_EMPTYDIR_DATA
            value: "false"
          - name: OPERATOR_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        {{- if .Driver.Spec.Manager.Env }}
          {{- range .Driver.Spec.Manager.Env }}
          - name: {{ .Name }}
            value: {{ .Value }}
          {{- end }}
        {{- end }}
          securityContext:
            privileged: true
          volumeMounts:
            - name: run-nvidia
              mountPath: /run/nvidia
              mountPropagation: Bidirectional
            - name: host-root
              mountPath: /host
              readOnly: true
              mountPropagation: HostToContainer
            - name: host-sys
              mountPath: /sys
      containers:
      - image: {{ .Driver.ImagePath }}
        imagePullPolicy: {{ default "IfNotPresent" .Driver.Spec.ImagePullPolicy }}
        name: nvidia-driver-ctr
        {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
        command: ["ocp_dtk_entrypoint"]
        {{- else }}
        command: ["nvidia-driver"]
        {{- end }}
        {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
        args:
        - "nv-ctr-run-with-dtk"
        {{- else }}
        args:
        - "init"
        {{- range .Driver.Spec.Args }}
        - {{ . }}
        {{- end }}
        {{- end }}
        securityContext:
          privileged: true
          seLinuxOptions:
            level: "s0"
        env:
        # always use runc for driver containers
        - name: NVIDIA_VISIBLE_DEVICES
          value: void
      {{- if and (.Openshift) (.Runtime.OpenshiftVersion) }}
        - name: OPENSHIFT_VERSION
          value: {{ .Runtime.OpenshiftVersion | quote }}
      {{- end }}
      {{- if .Driver.Spec.Env }}
        {{- range .Driver.Spec.Env }}
        - name: {{ .Name }}
          value : {{ .Value }}
        {{- end }}
      {{- end }}
      {{- if and (.GPUDirectRDMA) (deref .GPUDirectRDMA.Enabled) }}
        - name: GPU_DIRECT_RDMA_ENABLED
          value: "true"
        {{- if deref .GPUDirectRDMA.UseHostMOFED }}
        - name: USE_HOST_MOFED
          value: "true"
        {{- end }}
      {{- end}}
      {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) (not .Openshift.ToolkitImage) }}
        - name: RHCOS_IMAGE_MISSING
          value: "true"
        - name: RHCOS_VERSION
          value: {{ .Openshift.RHCOSVersion }}
      {{- end }}
      {{- if and (.Openshift) (.Runtime.OpenshiftProxyEnvars) }}
      {{- range .Runtime.OpenshiftProxyEnvars }}
        - name: {{ .Name }}
          value : {{ .Value }}
        {{- end }}
      {{- end }}
        volumeMounts:
          - name: run-nvidia
            mountPath: /run/nvidia
            mountPropagation: Bidirectional
          - name: run-nvidia-topologyd
            mountPath: /run/nvidia-topologyd
          - name: var-log
            mountPath: /var/log
          - name: dev-log
            mountPath: /dev/log
          - name: host-os-release
            mountPath: "/host-etc/os-release"
            readOnly: true
          - name: mlnx-ofed-usr-src
            mountPath: /run/mellanox/drivers/usr/src
            mountPropagation: HostToContainer
          - name: run-mellanox-drivers
            mountPath: /run/mellanox/drivers
            mountPropagation: HostToContainer
          {{- if and .AdditionalConfigs .AdditionalConfigs.VolumeMounts }}
          {{- range .AdditionalConfigs.VolumeMounts }}
          - name: {{ .Name }}
            mountPath: {{ .MountPath }}
            subPath: {{ .SubPath }}
            readOnly: {{ .ReadOnly }}
          {{- end }}
          {{- end }}
          {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
          - name: shared-nvidia-driver-toolkit
            mountPath: /mnt/shared-nvidia-driver-toolkit
          {{- end}}
          {{- if and (.Openshift) (.Runtime.OpenshiftProxyEnvars) }}
          - name: gpu-operator-trusted-ca
            mountPath: /etc/pki/ca-trust/extracted/pem
            readOnly: true
          {{- end}}
        {{- with .Driver.Spec.Resources }}
        resources:
          {{ . | yaml | nindent 10 }}
        {{- end }}
        startupProbe:
          exec:
            command:
              [sh, -c, 'nvidia-smi && touch /run/nvidia/validations/.driver-ctr-ready']
          initialDelaySeconds: {{ .Driver.Spec.StartupProbe.InitialDelaySeconds }}
          failureThreshold: {{ .Driver.Spec.StartupProbe.FailureThreshold }}
          successThreshold: {{ .Driver.Spec.StartupProbe.SuccessThreshold }}
          periodSeconds: {{ .Driver.Spec.StartupProbe.PeriodSeconds }}
          timeoutSeconds: {{ .Driver.Spec.StartupProbe.TimeoutSeconds }}
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "rm -f /run/nvidia/validations/.driver-ctr-ready"]
      {{- if and (.GPUDirectRDMA) (deref .GPUDirectRDMA.Enabled) }}
      - image: {{ .Driver.ImagePath }}
        imagePullPolicy: {{ default "IfNotPresent" .Driver.Spec.ImagePullPolicy }}
        name: nvidia-peermem-ctr
        command: ["nvidia-driver"]
        # takes care of loading nvidia_peermem whenever it gets dynamically unloaded during MOFED driver re-install/update
        args: ["reload_nvidia_peermem"]
        securityContext:
          privileged: true
          seLinuxOptions:
            level: "s0"
        env:
          - name: NVIDIA_VISIBLE_DEVICES
            value: void
          {{- if deref .GPUDirectRDMA.UseHostMOFED }}
          - name: USE_HOST_MOFED
            value: "true"
          {{- end }}
        volumeMounts:
          - name: run-nvidia
            mountPath: /run/nvidia
            mountPropagation: Bidirectional
          - name: var-log
            mountPath: /var/log
          - name: dev-log
            mountPath: /dev/log
            readOnly: true
          - name: run-mellanox-drivers
            mountPath: /run/mellanox/drivers
            mountPropagation: HostToContainer
          {{- if and .AdditionalConfigs .AdditionalConfigs.VolumeMounts }}
          {{- range .AdditionalConfigs.VolumeMounts }}
          - name: {{ .Name }}
            mountPath: {{ .MountPath }}
            {{- if .SubPath }}
            subPath: {{ .SubPath }}
            {{- end }}
            {{- if .ReadOnly }}
            readOnly: {{ .ReadOnly }}
            {{- end }}
          {{- end }}
          {{- end }}
        startupProbe:
          exec:
            command:
              [sh, -c, 'nvidia-driver probe_nvidia_peermem']
          initialDelaySeconds: 10
          failureThreshold: 120
          successThreshold: 1
          periodSeconds: 10
          timeoutSeconds: 10
        livenessProbe:
          exec:
            command:
              [sh, -c, 'nvidia-driver probe_nvidia_peermem']
          periodSeconds: 30
          initialDelaySeconds: 30
          failureThreshold: 1
          successThreshold: 1
          timeoutSeconds: 10
      {{- end }}
      # Note: GDS is not supported along with precompiled drivers.
      #       Detect this in the controller and throw an error if
      #       GDS and precompiled are enabled
      {{- if and (.GDS) (deref .GDS.Spec.Enabled) }}
      - image: {{ .GDS.ImagePath }}
        imagePullPolicy: IfNotPresent
        name: nvidia-fs-ctr
        {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
        command: ["ocp_dtk_entrypoint"]
        args: ["nv-fs-ctr-run-with-dtk"]
        {{- else }}
        command: [bash, -xc]
        args: ["until [ -d /run/nvidia/driver/usr/src ] && lsmod | grep nvidia; do echo  Waiting for nvidia-driver to be installed...; sleep 10; done; exec nvidia-gds-driver install"]
        {{- end }}
        securityContext:
          privileged: true
          seLinuxOptions:
            level: "s0"
        volumeMounts:
          - name: run-nvidia
            mountPath: /run/nvidia
            mountPropagation: HostToContainer
          - name: var-log
            mountPath: /var/log
          - name: dev-log
            mountPath: /dev/log
            readOnly: true
        {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
          - name: shared-nvidia-driver-toolkit
            mountPath: /mnt/shared-nvidia-driver-toolkit
        {{- end}}
        startupProbe:
          exec:
            command:
              [sh, -c, 'lsmod | grep nvidia_fs']
          initialDelaySeconds: 10
          failureThreshold: 120
          successThreshold: 1
          periodSeconds: 10
          timeoutSeconds: 10
        livenessProbe:
          exec:
            command:
              [sh, -c, 'lsmod | grep nvidia_fs']
          periodSeconds: 30
          initialDelaySeconds: 30
          failureThreshold: 1
          successThreshold: 1
          timeoutSeconds: 10
      {{- end }}
      # TODO: introduce UseOpenShiftDriverToolkit field into NVIDIADriver CR?
    {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
        # Only kept when OpenShift DriverToolkit side-car is enabled.
      {{- if .Openshift.ToolkitImage }}
      - image: {{ .Openshift.ToolkitImage }}
      {{- else }}
      - image: {{ .Driver.ImagePath }}
      {{- end }}
        imagePullPolicy: IfNotPresent
        name: openshift-driver-toolkit-ctr
        command: [bash, -xc]
        args: ["until [ -f /mnt/shared-nvidia-driver-toolkit/dir_prepared ]; do echo  Waiting for nvidia-driver-ctr container to prepare the shared directory ...; sleep 10; done; exec /mnt/shared-nvidia-driver-toolkit/ocp_dtk_entrypoint dtk-build-driver"]
        securityContext:
          # currently mandatory as 'nvidia-installer' loads (and
          # unloads) the kernel module as part of the build process
          privileged: true
          seLinuxOptions:
            level: "s0"
        env:
          - name: RHCOS_VERSION
            value: {{ .Openshift.RHCOSVersion }}
          # always use runc for driver containers
          - name: NVIDIA_VISIBLE_DEVICES
            value: void
          {{- if not .Openshift.ToolkitImage }}
          - name: RHCOS_IMAGE_MISSING
            value: "true"
          {{- end }}
          {{- if and (.GDS) (deref .GDS.Spec.Enabled) }}
          - name: GDS_ENABLED
            value: "true"
          {{- end }}
        volumeMounts:
          # corresponding volumes are dynamically injected by the
          # operator when the OCP DriverToolkit side-car is enabled
          - name: shared-nvidia-driver-toolkit
            mountPath: /mnt/shared-nvidia-driver-toolkit
          - name: var-log
            mountPath: /var/log
          - name: mlnx-ofed-usr-src
            mountPath: /run/mellanox/drivers/usr/src
            mountPropagation: HostToContainer
          - name: host-os-release
            mountPath: /host-etc/os-release
            readOnly: true
      {{- end }}
      volumes:
        - name: run-nvidia
          hostPath:
            path: /run/nvidia
            type: DirectoryOrCreate
        - name: var-log
          hostPath:
            path: /var/log
        - name: dev-log
          hostPath:
            path: /dev/log
        - name: host-os-release
          hostPath:
            path: "/etc/os-release"
        - name: run-nvidia-topologyd
          hostPath:
            path: /run/nvidia-topologyd
            type: DirectoryOrCreate
        - name: mlnx-ofed-usr-src
          hostPath:
            {{- if and (.GPUDirectRDMA) (deref .GPUDirectRDMA.UseHostMOFED) }}
            path: /usr/src
            {{- else }}
            path: /run/mellanox/drivers/usr/src
            {{- end }}
            type: DirectoryOrCreate
        - name: run-mellanox-drivers
          hostPath:
            path: /run/mellanox/drivers
            type: DirectoryOrCreate
        - name: run-nvidia-validations
          hostPath:
            path: /run/nvidia/validations
            type: DirectoryOrCreate
        - name: host-root
          hostPath:
            path: "/"
        - name: host-sys
          hostPath:
            path: /sys
            type: Directory
        {{- if and .AdditionalConfigs .AdditionalConfigs.Volumes }}
        {{- range .AdditionalConfigs.Volumes }}
        - name: {{ .Name }}
          configMap:
            name: {{ .Name }}
            items:
            {{- range .ConfigMap.Items }}
              - key: {{ .Key }}
                path: {{ .Path }}
              {{- if .Mode }}
                mode: {{ .Mode }}
              {{- end }}
            {{- end }}
        {{- end }}
        {{- end }}
        {{- if and (.Openshift) (.Runtime.OpenshiftDriverToolkitEnabled) }}
        - name: shared-nvidia-driver-toolkit
          emptyDir: {}
        {{- end }}
        {{- if and (.Openshift) (.Runtime.OpenshiftProxyEnvars) }}
        - name: gpu-operator-trusted-ca
          configMap: 
            name: gpu-operator-trusted-ca
            items:
              - key: ca-bundle.crt
                path: tls-ca-bundle.pem
        {{- end }}
