# Copyright NVIDIA CORPORATION
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI

on:
  push:
    branches:
      - "pull-request/[0-9]+"
      - main
      - release-*
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ startsWith(github.ref, 'refs/heads/pull-request/') && github.ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  variables:
    permissions:
      contents: read
    uses: ./.github/workflows/variables.yaml

  code-scanning:
    permissions:
      security-events: write
      packages: read
    uses: ./.github/workflows/code-scanning.yaml

  config-checks:
    permissions:
      contents: read
    uses: ./.github/workflows/config-checks.yaml

  golang-checks:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/golang-checks.yaml

  image-builds:
    needs: [variables, config-checks, golang-checks]
    permissions:
      contents: read
      id-token: write
      packages: write
    uses: ./.github/workflows/image-builds.yaml
    with:
      commit_short_sha: ${{ needs.variables.outputs.commit_short_sha }}
      label_image_source: ${{ needs.variables.outputs.label_image_source }}
      push_on_build: ${{ needs.variables.outputs.push_on_build }}
      operator_image_base: ${{ needs.variables.outputs.operator_image_base }}

  e2e-tests:
    needs: [variables, image-builds]
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/e2e-tests.yaml
    with:
      operator_image: ${{ needs.variables.outputs.operator_image }}
      operator_version: ${{ needs.variables.outputs.operator_version }}
    secrets: inherit

  release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: [variables, e2e-tests]
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/release.yaml
    with:
      commit_short_sha: ${{ needs.variables.outputs.commit_short_sha }}
      operator_image_base: ${{ needs.variables.outputs.operator_image_base }}
    secrets: inherit
